<launch>
	<arg name="veh_name" default="krk" />
	<arg name="veh_id" default="2" />
	
	<arg name="local_address" default="10.0.102.100" />
	<arg name="veh1_address"  default="10.0.101.100" />
	<arg name="veh2_address"  default="10.0.100.100" />
	<arg name="veh3_address"  default="10.0.103.100" />
	<arg name="veh4_address"  default="10.0.104.100" />
	
	<arg name="local_port" default="39090" />

    <group ns="$(arg veh_name)">
        <node pkg="formation_control"
              name="formation_control"
              type="FormationControl"
              output="screen">
            <rosparam command="load" file="$(find formation_control)/config/config.yaml" />
            <rosparam param="id" subst_value="True">$(arg veh_id)</rosparam>
        </node>
        
        <group ns="formation_topic_share">
        
	        <!-- The UDP relay setup for broadcast -->
		    <node pkg="transport_bridges" type="udp_relay" name="announce_v1">
                <param name="use_broadcast" value="false" />
                <param name="local_address" value="$(arg local_address)" />
                <param name="remote_address" value="$(arg veh1_address)" />
                <param name="local_port" value="$(arg local_port)" />
                <param name="remote_port" value="$(arg local_port)" />
                <remap from="incoming" to="udp_in" />
                <remap from="outgoing" to="udp_out" />
	        </node>
	        
	        <node pkg="transport_bridges" type="udp_relay" name="announce_v2">
                <param name="use_broadcast" value="false" />
                <param name="local_address" value="$(arg local_address)" />
                <param name="remote_address" value="$(arg veh2_address)" />
                <param name="local_port" value="$(arg local_port)" />
                <param name="remote_port" value="$(arg local_port)" />
                <remap from="incoming" to="udp_in" />
	            <remap from="outgoing" to="udp_out" />
	        </node>
	        
	        <node pkg="transport_bridges" type="udp_relay" name="announce_v3">
                <param name="use_broadcast" value="false" />
                <param name="local_address" value="$(arg local_address)" />
                <param name="remote_address" value="$(arg veh3_address)" />
                <param name="local_port" value="$(arg local_port)" />
                <param name="remote_port" value="$(arg local_port)" />
                <remap from="incoming" to="udp_in" />
                <remap from="outgoing" to="udp_out" />
	        </node>
	        
	        <node pkg="transport_bridges" type="udp_relay" name="announce_v4">
                <param name="use_broadcast" value="false" />
                <param name="local_address" value="$(arg local_address)" />
                <param name="remote_address" value="$(arg veh4_address)" />
                <param name="local_port" value="$(arg local_port)" />
                <param name="remote_port" value="$(arg local_port)" />
                <!-- <param name="self_filter" value="false" /> -->
                <remap from="incoming" to="udp_in" />
                <remap from="outgoing" to="udp_out" />
	        </node>
	        
	        <node pkg="transport_bridges" type="udp_relay" name="announce_topside">
                <param name="use_broadcast" value="false" />
                <param name="local_address" value="$(arg local_address)" />
                <param name="remote_address" value="$(arg topside_address)" />
                <param name="local_port" value="$(arg local_port)" />
                <param name="remote_port" value="$(arg local_port)" />
                <remap from="incoming" to="udp_in" />
                <remap from="outgoing" to="udp_out" />
            </node>
	
		    <node pkg="ros2udp" type="ros2udp" name="topic_bridge">
                <rosparam param="share_topics" subst_value="True">["/$(arg veh_name)/position","/FormResize_out"]</rosparam>
                <rosparam param="share_topics_remap">["","/FormResize_in"]</rosparam>
                <param name="unknown_publisher_allow" value="true" />
		    </node>
	    </group>
    </group>

    

</launch>