<launch>
    <arg name="local_simulation" default="true" />
	<arg name="veh_name" default="cres" />
	<arg name="veh_id" default="0" />
	<arg name="local_address" default="10.0.100.100" />
	<arg name="local_port" default="39090" />

    <group ns="$(arg veh_name)">
        <node pkg="formation_control"
              name="formation_control"
              type="FormationControl"
              output="screen">
            <rosparam command="load" file="$(find formation_control)/config/config.yaml" />
            <rosparam param="id" subst_value="True">$(arg veh_id)</rosparam>
        </node>
        
        <group ns="formation_topic_share">
        
            <!-- If not simulation, since broadcasting only one transport bridge needed -->
            <group unless="$(arg local_simulation)">
                <node pkg="transport_bridges" type="udp_relay" name="announce_f">
	                <param name="use_broadcast" value="true" />
	                <param name="local_address" value="$(arg local_address)" />
	                <param name="local_port" value="$(arg local_port)" />
	                <param name="remote_port" value="$(arg local_port)" />
	                <remap from="incoming" to="udp_in" />
	                <remap from="outgoing" to="udp_out" />
	            </node>
            </group>
            
            <group if="$(arg local_simulation)">
	                
		        <!-- The UDP relay setup for broadcast -->
			    <node pkg="transport_bridges" type="udp_relay" name="announce_f1" if="$(eval arg('veh_id') != 0)">
			        <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(eval arg('local_port') + 1)" />
			        <remap from="incoming" to="udp_in" />
			        <remap from="outgoing" to="udp_out" />
			    </node>
	
			    <node pkg="transport_bridges" type="udp_relay" name="announce_f2" if="$(eval arg('veh_id') != 1)">
		            <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(eval arg('local_port') + 2)" />
		            <remap from="incoming" to="udp_in" />
		            <remap from="outgoing" to="udp_out" />
		        </node>
		        
		        <node pkg="transport_bridges" type="udp_relay" name="announce_f3" if="$(eval arg('veh_id') != 2)">
		            <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(eval arg('local_port') + 3)" />
		            <remap from="incoming" to="udp_in" />
		            <remap from="outgoing" to="udp_out" />
		        </node>
		        
		        <node pkg="transport_bridges" type="udp_relay" name="announce_f4" if="$(eval arg('veh_id') != 3)">
		            <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(eval arg('local_port') + 4)" />
		            <remap from="incoming" to="udp_in" />
		            <remap from="outgoing" to="udp_out" />
		        </node>
		        
		        <node pkg="transport_bridges" type="udp_relay" name="announce_f5" if="$(eval arg('veh_id') != 4)">
		            <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(eval arg('local_port') + 5)" />
                    <!-- <param name="self_filter" value="false" /> -->
		            <remap from="incoming" to="udp_in" />
		            <remap from="outgoing" to="udp_out" />
		        </node>
		        
		        <node pkg="transport_bridges" type="udp_relay" name="announce_topside">
	                <param name="use_broadcast" value="true" />
                    <param name="local_port" value="$(eval arg('local_port') + arg('veh_id') + 1)" />
                    <param name="remote_port" value="$(arg local_port)" />
	                <remap from="incoming" to="udp_in" />
	                <remap from="outgoing" to="udp_out" />
	            </node>
            </group>
	
		    <node pkg="ros2udp" type="ros2udp" name="topic_bridge">
		        <rosparam param="share_topics" subst_value="True">["/$(arg veh_name)/position","/FormResize_out"]</rosparam>
		        <rosparam param="share_topics_remap">["","/FormResize_in"]</rosparam>
		    </node>
	    </group>
    </group>

    

</launch>