<!--/*****************************************************************
 * EXAMPLE.launch
 *
 *  Created on: Oct 30, 2014
 *      Author: Filip Mandic
 *
 *****************************************************************/-->

<launch>

	<group ns="vehicle1">		
		
		<!-- Location parameters -->
		<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
		<!-- Vehicle model -->
		<rosparam command="load" file="$(env MODEL)" />
		<!-- Navigation filter parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/navparams_ex.yaml" />
		<!-- Control parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/control.yaml" /> 

			
		
		<!-- ========================================================= -->
	    <!-- == Launch settings ====================================== -->
	    <!-- ========================================================= -->

		<include file="$(find launch_templates)/launch/labust_main_template.launch">
	
			<!-- Vehicle settings ======================================== -->
			<arg name="vehicle" value ="$(env VEHICLE)" /> 
			<arg name="topside" value="false" />
	
			<!-- Select templates to include -->
			<arg name="labust_manual" value="true" />
			<arg name="labust_navigation" value="true" />
			<arg name="labust_control" value="true" />
			<arg name="labust_primitives" value="true" />
			<arg name="labust_mission" value="$(optenv USE_MC 0)" />
			<arg name="labust_sim" value="$(optenv IS_SIM 0)" />
<!--			<arg name="labust_visualization" value="$(optenv USE_VISUALIZATION 0)" /> -->
			 
			<!-- Manual control settings ============================= -->
			<arg name="use_joy" value="$(optenv USE_JOY 0)" />
			<arg name="joy_dev" value="$(optenv JOYSTICK /dev/input/js0)" /> 
				
			<!-- Control settings ==================================== -->
			<arg name="use_ident" value="$(optenv USE_IDENTIFICATION 0)" />
			<arg name="use_trackpoint" value="false" />
		 
			<!-- Navigation settings ================================= -->
			<arg name="ekfAbs" value="false" />
			<arg name="ekfSB" value="false" />
	
			<!-- Mission execution settings ========================== -->
			<arg name="labust_mission_path" value="$(find labust_mission)" /> 
			<arg name="xml_save_path" value="$(find labust_mission)/data/mission.xml" /> 
			<arg name="neptus_parser" value="true" />
			<arg name="mission_parser" value="true" />
			
			<!-- Visualization settings ============================== -->
			<arg name="config_file" value="$(find labust_uwsim)/scenes/labust_mission_test/test_environment_moje.xml" />
			
			
		</include>
	
		
		<node
	        pkg="labust_uwsim" 
	        type="navsts2odom.py" 
	        name="vehicle2uwsim">
	
	        <!--<remap from="stateHat" to="stateHatAbs" />-->
	        <!--<remap from="uwsim_hook" to="uwsim_hook" />-->
	        <!--<param name="base_frame" value="base_link_abs" />-->
	        
    	</node>
		
	
	    <!-- ========================================================= -->
	    <!-- == Rosbag and multimaster includes ====================== -->
	    <!-- ========================================================= -->
		
	 	<node 
			if="$(optenv USE_ROSBAG 0)" 
			pkg="rosbag" 
			type="record" 
			name="rosbag" 
			args="-a -o /extern/bags/pladypos_bag" />
	
		<include 
			if="$(optenv USE_MULTIMASTER 0)" 
			file="$(find split0914_hrm)/launch/pladypos/pladypos/multi_master.launch" />
	
	</group>

 	<group ns="vehicle2">		
		
		<!-- Location parameters -->
		<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
		<!-- Vehicle model -->
		<rosparam command="load" file="$(env MODEL)" />
		<!-- Navigation filter parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/navparams_ex.yaml" />
		<!-- Control parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/control.yaml" /> 

			
		
		<!-- ========================================================= -->
	    <!-- == Launch settings ====================================== -->
	    <!-- ========================================================= -->

		<include file="$(find launch_templates)/launch/labust_main_template.launch">
	
			<!-- Vehicle settings ======================================== -->
			<arg name="vehicle" value ="$(env VEHICLE)" /> 
			<arg name="topside" value="false" />
	
			<!-- Select templates to include -->
			<arg name="labust_manual" value="true" />
			<arg name="labust_navigation" value="true" />
			<arg name="labust_control" value="true" />
			<arg name="labust_primitives" value="true" />
			<arg name="labust_mission" value="$(optenv USE_MC 0)" />
			<arg name="labust_sim" value="$(optenv IS_SIM 0)" />
<!--			<arg name="labust_visualization" value="$(optenv USE_VISUALIZATION 0)" /> -->
			 
			<!-- Manual control settings ============================= -->
			<arg name="use_joy" value="$(optenv USE_JOY 0)" />
			<arg name="joy_dev" value="$(optenv JOYSTICK /dev/input/js0)" /> 
				
			<!-- Control settings ==================================== -->
			<arg name="use_ident" value="$(optenv USE_IDENTIFICATION 0)" />
			<arg name="use_trackpoint" value="false" />
		 
			<!-- Navigation settings ================================= -->
			<arg name="ekfAbs" value="false" />
			<arg name="ekfSB" value="false" />
	
			<!-- Mission execution settings ========================== -->
			<arg name="labust_mission_path" value="$(find labust_mission)" /> 
			<arg name="xml_save_path" value="$(find labust_mission)/data/mission.xml" /> 
			<arg name="neptus_parser" value="true" />
			<arg name="mission_parser" value="true" />
			
			<!-- Visualization settings ============================== -->
			<arg name="config_file" value="$(find labust_uwsim)/scenes/labust_mission_test/test_environment_moje.xml" />
			
			
		</include>
	
		
		<node
	        pkg="labust_uwsim" 
	        type="navsts2odom.py" 
	        name="vehicle2uwsim">
	
	        <!--<remap from="stateHat" to="stateHatAbs" />-->
	        <!--<remap from="uwsim_hook" to="uwsim_hook" />-->
	        <!--<param name="base_frame" value="base_link_abs" />-->
	        
    	</node>
		
	
	    <!-- ========================================================= -->
	    <!-- == Rosbag and multimaster includes ====================== -->
	    <!-- ========================================================= -->
		
	 	<node 
			if="$(optenv USE_ROSBAG 0)" 
			pkg="rosbag" 
			type="record" 
			name="rosbag" 
			args="-a -o /extern/bags/pladypos_bag" />
	
		<include 
			if="$(optenv USE_MULTIMASTER 0)" 
			file="$(find split0914_hrm)/launch/pladypos/pladypos/multi_master.launch" />
		
	</group>
 
 	 <group ns="vehicle3">		
		
		<!-- Location parameters -->
		<rosparam command="load" file="$(find snippets)/data/locations/$(env LOCATION).yaml" />
		<!-- Vehicle model -->
		<rosparam command="load" file="$(env MODEL)" />
		<!-- Navigation filter parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/navparams_ex.yaml" />
		<!-- Control parameters -->
		<rosparam command="load" file="$(find launch_templates)/example/config/control.yaml" /> 

			
		
		<!-- ========================================================= -->
	    <!-- == Launch settings ====================================== -->
	    <!-- ========================================================= -->

		<include file="$(find launch_templates)/launch/labust_main_template.launch">
	
			<!-- Vehicle settings ======================================== -->
			<arg name="vehicle" value ="$(env VEHICLE)" /> 
			<arg name="topside" value="false" />
	
			<!-- Select templates to include -->
			<arg name="labust_manual" value="true" />
			<arg name="labust_navigation" value="true" />
			<arg name="labust_control" value="true" />
			<arg name="labust_primitives" value="true" />
			<arg name="labust_mission" value="$(optenv USE_MC 0)" />
			<arg name="labust_sim" value="$(optenv IS_SIM 0)" />
<!--			<arg name="labust_visualization" value="$(optenv USE_VISUALIZATION 0)" /> -->
			 
			<!-- Manual control settings ============================= -->
			<arg name="use_joy" value="$(optenv USE_JOY 0)" />
			<arg name="joy_dev" value="$(optenv JOYSTICK /dev/input/js0)" /> 
				
			<!-- Control settings ==================================== -->
			<arg name="use_ident" value="$(optenv USE_IDENTIFICATION 0)" />
			<arg name="use_trackpoint" value="false" />
		 
			<!-- Navigation settings ================================= -->
			<arg name="ekfAbs" value="false" />
			<arg name="ekfSB" value="false" />
	
			<!-- Mission execution settings ========================== -->
			<arg name="labust_mission_path" value="$(find labust_mission)" /> 
			<arg name="xml_save_path" value="$(find labust_mission)/data/mission.xml" /> 
			<arg name="neptus_parser" value="true" />
			<arg name="mission_parser" value="true" />
			
			<!-- Visualization settings ============================== -->
			<arg name="config_file" value="$(find labust_uwsim)/scenes/labust_mission_test/test_environment_moje.xml" />
			
			
		</include>
	
		
		<node
	        pkg="labust_uwsim" 
	        type="navsts2odom.py" 
	        name="vehicle2uwsim">
	
	        <!--<remap from="stateHat" to="stateHatAbs" />-->
	        <!--<remap from="uwsim_hook" to="uwsim_hook" />-->
	        <!--<param name="base_frame" value="base_link_abs" />-->
	        
    	</node>
		
	
	    <!-- ========================================================= -->
	    <!-- == Rosbag and multimaster includes ====================== -->
	    <!-- ========================================================= -->
		
	 	<node 
			if="$(optenv USE_ROSBAG 0)" 
			pkg="rosbag" 
			type="record" 
			name="rosbag" 
			args="-a -o /extern/bags/pladypos_bag" />
	
		<include 
			if="$(optenv USE_MULTIMASTER 0)" 
			file="$(find split0914_hrm)/launch/pladypos/pladypos/multi_master.launch" />
			
									
 	</group>	
 	
 	<group ns="vehicle1">
 		
 		<rosparam command="load" file="$(find formation_control)/config/config.yaml" /> 			
	  	<rosparam param="CurrentVeh">0</rosparam>
	  	<rosparam param="ParentNS">[/vehicle1,/vehicle2,/vehicle3]</rosparam>
	  	
	  	<node pkg="formation_control"
	  		  name="formationControl1"
	  		  type="FormationControl">
		</node>
 		
 	</group>
 	<group ns="vehicle2">
 		
 		<rosparam command="load" file="$(find formation_control)/config/config.yaml" /> 			
	  	<rosparam param="CurrentVeh">1</rosparam>
	  	<rosparam param="ParentNS">[/vehicle1,/vehicle2,/vehicle3]</rosparam>
	  	
	  	<node pkg="formation_control"
	  		  name="formationControl2"
	  		  type="FormationControl"
	  		  output="screen">
		</node>
 		
 	</group>
 	<group ns="vehicle3">
 		
 		<rosparam command="load" file="$(find formation_control)/config/config.yaml" /> 			
	  	<rosparam param="CurrentVeh">2</rosparam>
	  	<rosparam param="ParentNS">[/vehicle1,/vehicle2,/vehicle3]</rosparam>
	  	
	  	<node pkg="formation_control"
	  		  name="formationControl3"
	  		  type="FormationControl"
	  		  >
		</node>	
 	</group>

	<node   pkg="uwsim" 
        	name="uwsim" 
        	type="uwsim" 
        	args="--configfile $(find labust_uwsim)/scenes/labust_mission_test/test_environment_moje.xml
  			--dataPath  $(find labust_uwsim)/urdf/caddy/">				
  	</node>
  	

	
</launch>